@import url('https://fonts.googleapis.com/css?family=News+Cycle:400,700');

body {
  width: 100% !important;
}

#app {
  font-family: 'News Cycle', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heading {
  display: flex;
  justify-content: space-between;
  margin: 5px 9%;
}

#preloader {
  position: relative;
  left: 35%;
  top: 150px;
  height: 100%;
}

nav {
  padding: 0 20px;
}

nav i.material-icons {
  display: inline-block;
  margin-right: 10px;
}

nav ul a {
  display: flex;
  align-items: center;
}

main {
  display: flex
}

h4 {
  border-bottom: 1px solid #e2e2e2;
  padding: 10px;
}

.topic-buttons {
  display: flex;
  justify-content: space-around;
  margin: 30px;
  font-size: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e2e2e2;
}

.topic-buttons button {
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0);
  border:none;
  font-weight: bold;
}

.topic-buttons button:hover {
  color: #ee6e73;
}

.author {
  color: #999;
  font-size: 12px;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: underline;
}

.savedArticles {
  flex: 1;
  padding: 20px;
}

.savedArticles div {
  margin-bottom: 80px;
}

.btn {
  color: initial;
}

.comment-btn {
  color: white;
  padding: 0 10px;
}

.delete-btn {
  color: white;
  float: right
}

.comment-icons i:hover {
  cursor: pointer;
  background: rgba(238, 110, 115, 0.2);
  border-radius: 4px;
}

.comment-icons {
  position: absolute;
  top: 4%;
  right: 1%;
}

.collapsible-body {
  position: relative;
  padding: 50px;
}

.articles {
  flex: 4;
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;
}

.articles div {
  flex: 33%;
  height: auto;
  padding: 20px;
  border-right: 1px solid #e2e2e2;
}

.articles div:nth-child(1), .articles div:nth-child(6n+6) {
  flex: 50%
}

.articles div img, #article-img {
  width: 100%;
  height: auto;
}

.btn-floating {
  float: right
}

.add-comment-box {
  display: flex;
}

.saved-article {
  width: 550px;
  margin: 40px auto;
}

.saved-article img {
  width: 100%;
  height: auto;
}

.saved-article form {
  margin: 50px 0;
}

.saved-article .author {
  margin-bottom: 20px;
}

.comments-block {
  margin-top: 30px;
}

a.arrow {
  display: flex;
  align-items: center;
  margin: 20px 15px;
  font-size: 20px;
}

a.arrow span {
  margin-left: 5px;
}

.star-i {
  cursor: pointer;
}

.timestamp {
  position: absolute;
  bottom: 2px;
  right: 2px;
  color: #999;

}

/* Search Modal */


#search_modal {
  position: fixed;
  width: 300px;
  top: 65px !important;
}

.modal-content h4 {
  font-size: 26px;
  font-family: 'News Cycle', sans-serif;
  font-weight: bold
}

.modal {
  margin: 0;
  margin-left: auto;
}

.search-btn {
  color: #fff
}